<img class="logo" src="../../../assets/images/banner.png" alt="">

    <nav md-tab-nav-bar>
        <a md-tab-link
            routerLink=""
            routerLinkActive #rla="routerLinkActive"
            active="rla.isActive ? 'router-link-active' : ''">
                Consultancy
        </a>
        <a md-tab-link
            routerLink="about-us"
            routerLinkActive #rla="routerLinkActive"
            active="rla.isActive ? 'router-link-active' : ''">
                About Us
        </a>
        <a md-tab-link
            routerLink="contact"
            routerLinkActive #rla="routerLinkActive"
            active="rla.isActive ? 'router-link-active' : ''">
                Contact
        </a>
    </nav>
<router-outlet></router-outlet>
