<section app>

  <md-toolbar class="title-container" color="primary" class="mat-elevation-z10">
    <span class="title-top">EllaVatec</span>

    <md-toolbar-row>
      <span class="title-bottom">Helping companies reshape their culture and diversify their workforce</span>
    </md-toolbar-row>
  </md-toolbar>

  <md-tab-group dynamicHeight="true">
    <md-tab label="Consultancy">
      <p class="tab-body">
        EllaVatec, working to help employers discover and correct the pain points of finding and hiring a more diverse workforce
      </p>

    </md-tab>
    <md-tab label="About Us">
      <p class="tab-body">
        Based in Ann Arbor, MI the the founder and lead consultant at EllaVatec has over twenty years of experience 
        in technology.
        <br/><br/> Often finding herself as a the only female developer at her workplace she is now seeking to solve 
        this discrepancy by using her personal experience to help companies create a more inclusive and diverse workforce. 
      </p>
    </md-tab>
    <md-tab label="Contact">
      <p class="tab-body">
        <a href="mailto:info@ellavatec.com?subject=EllaVatec%20Inquiry"><button md-raised-button>Contact Us</button></a>
      </p>
    </md-tab>
  </md-tab-group>

</section>

<router-outlet></router-outlet>