/* You can add global styles to this file, and also import other style files */

.app {
    min-height: 100%;
}

md-toolbar {
    z-index: 10;
}

.title-container {
    text-shadow: 2px 2px black;
}

.title-top {
    font-size: 1.5em;
}

.title-bottom {
    font-size: 0.75em;
}

.tab-body {
    padding: 1em;
    margin: 1em;
}

/* old stuff above here */

body {
    margin: 0;
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

img {
    width: 100%;
    height: 75%;
}