<div class="content">
  <h2>What is Diversity and Inclusion Consultancy?</h2>
  <p>Helping employers discover, and correct the pain points of finding and 
      hiring a more diverse workforce.</p>
</div>

<aside class="sidebar">
  <h4>Diversity Articles</h4>
  <a href="http://fortune.com/2017/03/22/tech-employees-overestimate-how-well-their-companies-promote-diversity/" target="_blank">
    <p>Tech Employees Overestimate How Well Their Companies Promote Diversity</p>
  </a>
  <br>
  <a href="https://www.wired.com/2017/03/hey-tech-giants-action-diversity-not-just-reports/" target="_blank">
    <p>HEY TECH GIANTS: HOW ABOUT ACTION ON DIVERSITY, NOT JUST REPORTS?</p>
  </a>
</aside>